.about-connect {
  margin-top: 8rem;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 2rem;
}

@media screen and (max-width: 426px) {
  html {
    font-size: 11px;
  }
  img {
    max-width: 100%;
  }
  .brand img {
    margin-left: 2rem;
    max-width: 25%;
  }
  nav ul li a {
    background-color: black;
  }
  nav ul li a:last-of-type {
    border-radius: 0;
    background-color: black;
    padding: 15px;
  }
  nav ul li a,
  nav ul li a:visited {
    color: white;
  }

  .navigation ul li a {
    color: white;
  }
  .hero-section {
    grid-template-columns: 1fr;
  }
  .hero-text {
    max-width: 100%;
  }
  .about-connect {
    grid-template-columns: 1fr;
  }
  .connect-info h1 {
    font-size: 2.3rem;
  }
  .connect-info {
    max-width: 100%;
    width: 100%;
    margin-bottom: 3rem;
  }
  .name-email {
    grid-template-columns: 1fr;
  }
  .email-form input[type="email"] {
    width: 95%;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-links {
    margin-top: 3rem;
    gap: 3rem;
  }
}
@media screen and (max-width: 321px) {
  html {
    font-size: 9px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
